body {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Nunito Sans Regular', sans-serif;
  }
  